<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="entity.confIngMapper">
<resultMap type="entity.ConfIng" id="confIngResMap">
<id property="id" column="id"/>
<result property="title" column="title"/>
<result property="type" column="type"/>
<result property="password" column="password"/>
<result property="channelId" column="channel_id"/>
<result property="capacity" column="capacity"/>
<result property="online" column="online"/>
<result property="member" column="member"/>
<result property="creator" column="creator"/>
<result property="createTime" column="create_time"/>
<result property="participator" column="participator"/>
<result property="hasfile" column="hasfile"/>
</resultMap>
  <select id="selectAllConfIng" resultMap="confIngResMap">
    select * from conf_ing
  </select>
  <insert id="insertConfIng">
  insert into conf_ing (title,type,password,channel_id,capacity,online,member,creator,create_time,participator,hasfile)
  values (#{title},#{type},#{password},#{channelId},#{capacity},#{online},#{member},#{creator},#{createTime},#{participator},#{hasfile})
  </insert>
  <select id="selectLatestConfIng" resultMap="confIngResMap">
  select * from conf_ing order by id desc limit 1
  </select>
  <select id="selectConfIngByChannelId" resultMap="confIngResMap">
  select * from conf_ing where channel_id = #{channelId}
  </select>
  <update id="updateConfIng" parameterType="entity.ConfIng">
  update conf_ing set online = #{online},member = #{member},participator=#{participator} where id = #{id}
  </update>
  <delete id="deleteConfIngById">
  delete from conf_ing where id = #{id}
  </delete>
</mapper>