<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="entity.confFileMapper">
    <insert id="insertConfFile">
  insert into conf_file (conf_channel_id,name,path)
  values (#{confChannelId},#{name},#{path})
  </insert>
  <select id="selectConfFileByChannelId" parameterType="string" resultType="entity.ConfFile">
  select * from conf_file where conf_channel_id = #{channelId}
  </select>
  
  </mapper>